  /* ====== FONT ====== */
  $font-family: "Maven Pro", Arial, sans-serif !default;
  $font-family-base: $font-family !default;
  $font-size-base: 17px;

  $font-size-lg: 25px;
  $font-size-md: 16px;
  $font-size-sm: 12px;
  $font-size-xs: 10px;
  
  $text-xs: 10px;
  $text-sm: 12px;
  $text-base: 17px;
  $text-lg: 20px;
  $text-xl: 25px;

  $w-400: 600;
  $w-500: 500;
  $w-400: 400;

  $title: 32px;
  $subtitle: 25px;

  body {
      font-family: $font-family-base;
      font-size: $font-size-base;
      background-color: var(--body-color);
      color: var(--text-color);
  }

  .title {
      font-size: $title;
      font-family: 'Maven Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.01em;
  }

  .subtitle {
      font-size: $subtitle;
  }

  .text-xl {
      font-size: $text-xl;
  }

  .text-sm {
      font-size: $text-base;
  }

  .text-xs {
      font-size: $text-sm;
  }

  .text-base {
      font-size: $text-base;
  }

      /* ===== END ===== */